* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 2rem;
	text-align: center;
}
.my-responsive-box {
	width: 100%;
	padding: 5rem;
	background: lightgray;
}